
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    /* background-color: #96D4D4; */
    padding: 15px;
  }
  /* td:nth-child(even) {
    background-color: #D6EEEE;
  } */
 