.pic {
  width: calc(50% - 15px);
  display: block;
  border: 1px solid black;
}
table, th, td {
  border: 2px inset;
  background-color: aquamarine;
}
.table{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.imgs {
  width: 350px;
  height: 300px;
}
